// Import the initial variables
@charset "utf-8";
@import "/node_modules/bulma/sass/utilities/initial-variables.sass";

// Set custom initial variables
$light: #f4f4f4;
$primary: #00a199;
$navbar-item-img-max-height: 5rem;
$tablet: 790px;

// Import the rest of framework
@import "/node_modules/bulma/bulma.sass";

html {
    background: #e4e4e4 url("/src/images/texture.png");
    overflow-y: auto;
}

// Navbar
#nav-logo {
    height: 64px;
    width: 85px;
}

#nav-title {
    font-family: "Rye", sans-serif;
    padding-left: 0;
}

.navbar-item a {
    color: $black-bis;
}

.navbar-item a.active {
    color: $primary;
}

@media (min-width: $tablet) {
    .navbar-burger {
        margin-top: 1rem !important;
    }
}

@media (max-width: calc($tablet - 1px)) {
    #nav-logo {
        height: 32px;
        width: 43px;
    }
}

// About
.question {
    padding-top: 1.5rem;
}

// HelloMessage
#hello {
    padding: 1.5rem 1rem;
}

// FileSelect
#select-button {
    background-color: $primary;
    border-radius: .8rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: $family-sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
}

#select-button:hover {
    background-color: #00928b;
}

#file-select input[type="file"] {
    display: none;
}

@media (max-width: calc($desktop - 1px)) {
    #file-select {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #select-button {
        padding: 1rem 1.5rem;
    }
}

// UploadBox
.upload-box {
    background-color: $white;
    padding-bottom: 1rem;
    animation: fadein .3s linear forwards;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.upload-name {
    background-color: $white;
    border-color: $grey-light;
    border-radius: 4px;
    border-width: 2px;
    box-sizing: border-box;
    max-width: 100% !important;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: clip;
    white-space: nowrap;
    width: 100% !important;
}

input[aria-hidden="true"] {
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -99;
    pointer-events: none;
}

progress {
    margin-bottom: 1.25rem;
    margin-top: 0.5rem;
}

.upload-message {
    padding-bottom: 0.5rem;
    padding-left: 6px;
    padding-top: 0.5rem;
}

.failure {
    margin-bottom: 2.25rem;
}

.open-button {
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
}